html {
  height: 100%;
}
body {
  margin-left: 0px;
  margin-right: 0px;
  background-image: url(https://res.cloudinary.com/dgxmjwbrc/image/upload/v1525373852/fall.jpg);
  background-size: cover;
  background-position: center;
}
canvas {
  background: #eee;
  display: block;
  margin: 0 auto;
  height: 100%;
  border: 2px solid white;

 }
 h1, h2{
   text-align: center;
   font-weight: bold;
   color: white;
   text-shadow: 9px 8px 8px black, 0 0 1em grey, 0 0 0.2em grey;
   font-size: 4em;
   margin-bottom: 0;
 }

 h2 {
   font-size: 3em;
 }
 div {
   margin: -2px;
   vertical-align: top;
 }
 .game-board {
   margin: 10vh 0;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   position: relative;
 }
 .side-section {
   width: 50%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin-top: 0;
 }
 .side-section button {
  font-size: 30px;
  margin: 20px 30px 20px 30px;
  border-radius: 10px;
  padding: 5px 20px 5px 20px;
 }

 .side-section button:hover {
   color: white;
   background-color: blue;
 }
.active {
  color: white;
  background-color: blue;
}
 .ball {
   height: 5%;
   width: 5%;
   /* border: 1px solid red; */
  background-size: cover;
  background-position: center;
   display: inline-block;
 }
 .board {
   /* border: 1px solid grey; */
   width: 600px;
   height: 600px;
 }
 .game {
   display: flex;
   flex-direction: column;
   align-items: center;
 }
 .hole {
   height: 5%;
   width: 5%;
   background-size: contain;
   background-image: url('https://res.cloudinary.com/dgxmjwbrc/image/upload/v1523914889/Sirex_noctilio_hole_cropped.jpg');
   display: inline-block;
 }
 .path {
   height: 5%;
   width: 5%;
   display: inline-block;
 }
 .wall {
   height: 5%;
   width: 5%;
   background-size: cover;
   background-image: url('https://res.cloudinary.com/dgxmjwbrc/image/upload/v1523909588/download.jpg');
   display: inline-block;
 }
 .goal {
   height: 5%;
   width: 5%;
   background-size: cover;
   background-position: center;
   background-image: url('https://res.cloudinary.com/dgxmjwbrc/image/upload/v1524067906/coin.jpg');
   display: inline-block;
 }
 .pause {
   position: absolute;
   display: flex;
   align-items: center;
   justify-content: center;
   height: 89%;
   width: 68%;
   top: -5px;
   background-color: rgba(0,0,0,0.5);
 }
.pause-window {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pause-window h2 {
  padding: 150px;
  font-size: 56px;
  color: white;
}
.key {
  padding: 5px;
  border: 1px solid white;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.5);
}
